<h1>FAQ page</h1>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Crowdvenience FAQ</title>

    <meta name="description" content="An FAQ guide for Crowdvenience app">
    <meta name="author" content="Crowdvenience pty Ltd">

  <!--  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> -->

  </head>
  <body>

    <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
		
			<div class="jumbotron">
				<h2>
					HELP! section
				</h2>
				<p>
					Use the FAQ to find what your looking for, if its not there use the contact form provided below.
				</p>
				<p>
					<a class="center btn btn-primary btn-large" href="#">Learn more</a>
				</p>
			
                <div align="center" class="search-bar">This is the search area
                </div>
            </div>

			 <a id="modal-484521" href="#modal-container-484521" role="btn btn-sm" class="btn" data-toggle="modal">FAQ 1</a>
			
			<div class="modal fade" id="modal-container-484521" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							 
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
								×
							</button>
							<h4 class="modal-title" id="myModalLabel">
								Modal title
							</h4>
						</div>
						<div class="modal-body">
							...
						</div>
						<div class="modal-footer">
							 
							<button type="button" class="btn btn-default" data-dismiss="modal">
								Close
							</button> 
							<button type="button" class="btn btn-primary">
								Save changes
							</button>
						</div>
					</div>
					
				</div>
				
			</div>
			
			
		</div>
	</div>

</div>
      
      <div class="container">
  <h2>Dynamic Pills</h2>
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#home">Home</a></li>
    <li><a data-toggle="pill" href="#menu1">Menu 1</a></li>
    <li><a data-toggle="pill" href="#menu2">Menu 2</a></li>
    <li><a data-toggle="pill" href="#menu3">Menu 3</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>HOME</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>Menu 3</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

    <div class="search_bar" id="alfred_search_bar">
    <div class="search_bar_main">
      <div class="search_bar_title web_only">
        <a href="/help">HELP CENTER</a>
      </div>
      <div class="search_input">
        <input type="search" class="input-xxlarge t3 t7_mobile search_input_text" placeholder="Search for answers" id="search_input" />
        <a class="search_btn" id="search_btn"></a>
      </div>
 
      <div class="search_bar_cancel mobile_only"><a href="#" id="search_mobile_cancel" class="t7_mobile search_bar_cancel_text">Cancel</a></div>
      <span style="clear:both;"></span>
    </div>
  </div>
</div>
<script> 



</script>

      </header>

	<div class="row">
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
		<div class="col-md-4">
			<h2>
				Heading
			</h2>
			<p>
				Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
       <div class="container landing_container">
  <article id="tabs-min" class="tabs ui-tabs ui-widget ui-widget-content"><ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
      <li class="ui-state-default category_nav"><a class="thumbnail_click_beacon" clickid="billing_help" href="#tabs-min-1">
        <div class="landing_category">
          <div class="landing_icon landing_billing_help"></div>
          <h2 class="web_only">Billing Help</h2>
          <div class="t1_mobile mobile_only">BILLING</div>
        </div>
      </a></li><li class="category_nav"><a class="thumbnail_click_beacon" clickid="getting_started" href="#tabs-min-2">
        <div class="landing_category">
          <div class="landing_icon landing_getting_started"></div>
          <h2 class="web_only">Getting Started</h2>
          <div class="t1_mobile mobile_only">GETTING</div>
          <div class="t1_mobile mobile_only">STARTED</div>
        </div>
      </a></li><li class="category_nav"><a class="thumbnail_click_beacon" clickid="account_settings" href="#tabs-min-3">
        <div class="landing_category">
          <div class="landing_icon landing_setting"></div>
          <h2 class="web_only">Account &amp; Settings</h2>
          <div class="t1_mobile mobile_only">SETTINGS</div>
        </div>
      </a></li><li class="category_nav"><a class="thumbnail_click_beacon" clickid="troubleshooting" href="#tabs-min-4">
        <div class="landing_category">
          <div class="landing_icon landing_troubleshooting"></div>
          <h2 class="web_only">Troubleshooting</h2>
          <div class="t1_mobile mobile_only">STREAMING</div>
        </div>
      </a></li><li class="category_nav"><a class="thumbnail_click_beacon" clickid="shows_movies" href="#tabs-min-5">
        <div class="landing_category">
          <div class="landing_icon landing_shows"></div>
          <h2 class="web_only">Shows &amp; Movies</h2>
          <div class="t1_mobile mobile_only">SHOWS</div>
          <div class="t1_mobile mobile_only">&amp; MOVIES</div>
        </div>
      </a></li>
    </ul>
    <div id="tabs-min-1" class="landing_sub_tab">
      <div class="landing_tab_1">
        <div class="landing_tab_2">
          <div class="web_only" style="height:38px;"></div>
              <div class="landing_sub_column"><a href="/help/articles/23865563" class="l2 pageload_beacon t3_mobile" pageType="Support">Your guide to Hulu billing</a></div>

              <div class="landing_sub_column"><a href="/help/articles/203239" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I cancel my Hulu subscription or Premium Add-on?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/20185778" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I update my payment information?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/51765256" class="l2 pageload_beacon t3_mobile" pageType="Support">Hulu plan switching on your device</a></div>

              <div class="landing_sub_column"><a href="/help/articles/28093706" class="l2 pageload_beacon t3_mobile" pageType="Support">Why is my account is on hold?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/28094116" class="l2 pageload_beacon t3_mobile" pageType="Support">My signup attempts aren&#x27;t working</a></div>

              <div class="landing_sub_column"><a href="/help/articles/21454771" class="l2 pageload_beacon t3_mobile" pageType="Support">iTunes billing FAQ</a></div>

              <div class="landing_sub_column"><a href="/help/articles/69180988" class="l2 pageload_beacon t3_mobile no_bottom_border" pageType="Support">Roku billing FAQ</a></div>

              <div class="landing_sub_column"><a href="/help/articles/52488372" class="l2 pageload_beacon t3_mobile" pageType="Support">Amazon account and billing</a></div>

              <div class="landing_sub_column"><a href="/help/articles/20181106" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I place my subscription on hold?</a></div>

          <div class="web_only" style="height:28px;clear:both;"></div>
        </div>
      </div>
    </div>
    <div id="tabs-min-2" class="landing_sub_tab">
      <div class="landing_tab_1">
        <div class="landing_tab_2">
          <div class="web_only" style="height:38px;"></div>
              <div class="landing_sub_column"><a href="/help/articles/22628103" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I activate my device to start watching Hulu?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/197541" class="l2 pageload_beacon t3_mobile" pageType="Support">Hulu subscription system requirements</a></div>

              <div class="landing_sub_column"><a href="/help/articles/26164956" class="l2 pageload_beacon t3_mobile" pageType="Support">Getting started with a Hulu subscription</a></div>

              <div class="landing_sub_column"><a href="/help/articles/332610" class="l2 pageload_beacon t3_mobile" pageType="Support">Getting started with Roku</a></div>

              <div class="landing_sub_column"><a href="/help/articles/26277697" class="l2 pageload_beacon t3_mobile" pageType="Support">Hulu on Google Chromecast</a></div>

              <div class="landing_sub_column"><a href="/help/articles/202881" class="l2 pageload_beacon t3_mobile" pageType="Support">Getting started on iPad, iPhone and iPod touch</a></div>

              <div class="landing_sub_column"><a href="/help/articles/21004523" class="l2 pageload_beacon t3_mobile" pageType="Support">Getting started on the Nintendo Wii</a></div>

              <div class="landing_sub_column"><a href="/help/articles/20520526" class="l2 pageload_beacon t3_mobile no_bottom_border" pageType="Support">How do I organize my videos?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/40831537" class="l2 pageload_beacon t3_mobile" pageType="Support">Getting started on your Android device</a></div>

              <div class="landing_sub_column"><a href="/help/articles/23875521" class="l2 pageload_beacon t3_mobile" pageType="Support">Using Hulu.com on your phone or tablet browser</a></div>

          <div class="web_only" style="height:28px;clear:both;"></div>
        </div>
      </div>
    </div>
    <div id="tabs-min-3" class="landing_sub_tab">
      <div class="landing_tab_1">
        <div class="landing_tab_2">
          <div class="web_only" style="height:38px;"></div>
              <div class="landing_sub_column"><a href="/help/articles/166616" class="l2 pageload_beacon t3_mobile" pageType="Support">I&#x27;m having trouble with my login on Hulu</a></div>

              <div class="landing_sub_column"><a href="/help/articles/21664977" class="l2 pageload_beacon t3_mobile" pageType="Support">Hulu profile and account settings</a></div>

              <div class="landing_sub_column"><a href="/help/articles/171122" class="l2 pageload_beacon t3_mobile" pageType="Support">Why can&#x27;t I use Hulu internationally? (outside USA)</a></div>

              <div class="landing_sub_column"><a href="/help/articles/166520" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I use my Queue?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/58553213" class="l2 pageload_beacon t3_mobile" pageType="Support">Finding things to watch on your Hulu TV device</a></div>

              <div class="landing_sub_column"><a href="/help/articles/166618" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I delete my free Hulu.com account?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/166475" class="l2 pageload_beacon t3_mobile" pageType="Support">Why sign up for a free Hulu.com account?</a></div>

              <div class="landing_sub_column"><a href="/help/articles/50772695" class="l2 pageload_beacon t3_mobile no_bottom_border" pageType="Support">Hulu.com Discussion boards update</a></div>

              <div class="landing_sub_column"><a href="/help/articles/23522412" class="l2 pageload_beacon t3_mobile" pageType="Support">Off-Hulu cookies</a></div>

              <div class="landing_sub_column"><a href="/help/articles/58100227" class="l2 pageload_beacon t3_mobile" pageType="Support">Product proposals for Hulu</a></div>

          <div class="web_only" style="height:28px;clear:both;"></div>
        </div>
      </div>
    </div>
    <div id="tabs-min-4" class="landing_sub_tab" >
      <div class="landing_tab_1">
        <div class="landing_tab_2">
          <article id="tabs-sub" class="tabs ui-tabs ui-widget ui-widget-content">
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
                <li class="ui-state-default mobile_long_title">
                  <a class="thumbnail_click_beacon" clickid="handheld" href="#tabs-sub-1">
                    <div class="landing_sub_category">
                      <h5 class="web_only">Handheld Devices</h5>
                      <div class="mobile_only t1_mobile" style="text-transform: uppercase;">Handheld Devices</div>
                    </div>
                  </a>
                </li><li class="ui-state-default">
                  <a class="thumbnail_click_beacon" clickid="computers" href="#tabs-sub-2">
                    <div class="landing_sub_category">
                      <h5 class="web_only">Computers</h5>
                      <div class="mobile_only t1_mobile" style="text-transform: uppercase;">Computers</div>
                    </div>
                  </a>
                </li><li class="ui-state-default">
                  <a class="thumbnail_click_beacon" clickid="tvs_and_more" href="#tabs-sub-3">
                    <div class="landing_sub_category">
                      <h5 class="web_only">TVs &amp; More</h5>
                      <div class="mobile_only t1_mobile" style="text-transform: uppercase;">TVs &amp; More</div>
                    </div>
                  </a>
                </li></ul>
            <div id="tabs-sub-1" class="ui-tabs-panel ui-widget-content" style="padding: 0px !important;">
              <div class="web_only" style="height: 25px;"></div>
                  <div class="landing_sub_column"><a href="/help/articles/42034353" class="l2 pageload_beacon t3_mobile" pageType="Support">Streaming issues with Hulu on iPad</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/23188681" class="l2 pageload_beacon t3_mobile" pageType="Support">I&#x27;m seeing the error &quot;An Error Has Occurred. Please Try Again.&quot;</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/39267407" class="l2 pageload_beacon t3_mobile" pageType="Support">Streaming issues with Hulu on Android devices</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/42814768" class="l2 pageload_beacon t3_mobile" pageType="Support">Streaming issues with Hulu on your iPhone or iPod</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/23201957" class="l2 pageload_beacon t3_mobile" pageType="Support">Your account is not valid in this region/Error 16 on iOS</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/23214937" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I use Kids Lock on my Android Device? </a></div>

                  <div class="landing_sub_column"><a href="/help/articles/23204916" class="l2 pageload_beacon t3_mobile" pageType="Support">Why does the iOS app quit or close on its own?</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/23221838" class="l2 pageload_beacon t3_mobile no_bottom_border" pageType="Support">Why can&#x27;t I install Hulu on my iOS 4 device?</a></div>

              <div class="web_only" style="clear:both;height:20px;"></div>
            </div>
            <div id="tabs-sub-2" class="ui-tabs-panel ui-widget-content ui-tabs-hide" style="padding: 0px !important;">
              <div class="web_only" style="height: 25px;"></div>
                  <div class="landing_sub_column"><a href="/help/articles/166587" class="l2 pageload_beacon t3_mobile" pageType="Support">Video streaming issues on Hulu.com</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/23211892" class="l2 pageload_beacon t3_mobile" pageType="Support">How do I fix commercial-loading errors?</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/26003638" class="l2 pageload_beacon t3_mobile" pageType="Support">&quot;This video is unavailable at this time&quot; on the Hulu website</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/22497633" class="l2 pageload_beacon t3_mobile" pageType="Support">&quot;Press Escape to Exit Full Screen Mode&quot; stays on screen</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/243651" class="l2 pageload_beacon t3_mobile" pageType="Support">What is an anonymous proxy?</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/166614" class="l2 pageload_beacon t3_mobile" pageType="Support">Full screen streaming issues on Hulu.com</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/166599" class="l2 pageload_beacon t3_mobile" pageType="Support">Audio/sound issues on Hulu.com</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/21091762" class="l2 pageload_beacon t3_mobile no_bottom_border" pageType="Support">Allowing Hulu.com commercials with AdBlock and Adblock Plus</a></div>

              <div class="web_only" style="clear:both;height:20px;"></div>
            </div>
            <div id="tabs-sub-3" class="ui-tabs-panel ui-widget-content ui-tabs-hide" style="padding: 0px !important;">
              <div class="web_only" style="height: 25px;"></div>
                  <div class="landing_sub_column"><a href="/help/articles/20196801" class="l2 pageload_beacon t3_mobile" pageType="Support">Streaming issues with Hulu on your TV</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/44631176" class="l2 pageload_beacon t3_mobile" pageType="Support">PlayStation 3 Blu-ray remote functionality </a></div>

                  <div class="landing_sub_column"><a href="/help/articles/51269020" class="l2 pageload_beacon t3_mobile" pageType="Support">Troubleshooting the Remote Control for Hulu</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/23052686" class="l2 pageload_beacon t3_mobile" pageType="Support">Samsung living room device date and time error</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/51515110" class="l2 pageload_beacon t3_mobile" pageType="Support">Streaming issues with Hulu on Google Chromecast</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/20754858" class="l2 pageload_beacon t3_mobile" pageType="Support">Xbox 360 international error</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/29251783" class="l2 pageload_beacon t3_mobile" pageType="Support">Licensing error message with Hulu on your PS4</a></div>

                  <div class="landing_sub_column"><a href="/help/articles/50423932" class="l2 pageload_beacon t3_mobile no_bottom_border" pageType="Support">Getting started with the Remote Control for Hulu</a></div>

              <div class="web_only" style="clear:both;height:20px;"></div>
            </div>
          </article>
        </div>
      </div>
    </div>
    <div id="tabs-min-5" class="landing_sub_tab">
      <div class="landing_tab_1">
        <div class="landing_tab_2">
          <div class="web_only" style="height:38px;"></div>
            <div class="landing_sub_column"><a href="/help/articles/24194057" class="l2 pageload_beacon t3_mobile" pageType="Support">Connecting to Hulu with your Pay-TV Provider</a></div>

            <div class="landing_sub_column"><a href="/help/articles/23489341" class="l2 pageload_beacon t3_mobile" pageType="Support">Why can&#x27;t I find all of my shows on Hulu?</a></div>

            <div class="landing_sub_column"><a href="/help/articles/20116158" class="l2 pageload_beacon t3_mobile" pageType="Support">Why can&#x27;t I view certain shows on my device?</a></div>

            <div class="landing_sub_column"><a href="/help/articles/20356372" class="l2 pageload_beacon t3_mobile" pageType="Support">Why does my Hulu subscription have commercials?</a></div>

            <div class="landing_sub_column"><a href="/help/articles/20813596" class="l2 pageload_beacon t3_mobile" pageType="Support">Why aren&#x27;t there new episodes of my favorite show?</a></div>

            <div class="landing_sub_column"><a href="/help/articles/55190943" class="l2 pageload_beacon t3_mobile" pageType="Support">Getting started with SHOWTIME® on your Hulu device</a></div>

            <div class="landing_sub_column"><a href="/help/articles/203238" class="l2 pageload_beacon t3_mobile" pageType="Support">Finding Hulu subscription and HD videos on Hulu.com</a></div>

            <div class="landing_sub_column"><a href="/help/articles/31120018" class="l2 pageload_beacon t3_mobile no_bottom_border" pageType="Support">ABC, Freeform, and ABC News shows on Hulu</a></div>

            <div class="landing_sub_column"><a href="/help/articles/171123" class="l2 pageload_beacon t3_mobile" pageType="Support">Content availability and expiration</a></div>

            <div class="landing_sub_column"><a href="/help/articles/166516" class="l2 pageload_beacon t3_mobile" pageType="Support">Closed captioning on shows and movies</a></div>

          <div class="web_only" style="height:28px;clear:both;"></div>
        </div>
      </div>
    </div>
  </article>

  <div class="web_only" style="height:95px;"></div>

  <div class="landing_suggestions">
    <div class="landing_suggestions_column article_list_header">
      <h3 class="web_only"> Popular Articles </h3>
      <div class="mobile_hulu_header mobile_only t4_mobile">Top Articles</div>
        <div class="web_only" style="height: 10px;"></div>
          <div class="landing_suggestions_column_links mobile_hulu_link">
            <a href="/help/articles/26164956" class="pageload_beacon t3_mobile" pageType="Support">Getting started with a Hulu subscription</a>
          </div>
          <div class="landing_suggestions_column_links mobile_hulu_link">
            <a href="/help/articles/20196801" class="pageload_beacon t3_mobile" pageType="Support">Streaming issues with Hulu on your TV</a>
          </div>
          <div class="landing_suggestions_column_links mobile_hulu_link">
            <a href="/help/articles/203239" class="pageload_beacon t3_mobile" pageType="Support">How do I cancel my Hulu subscription or Premium Add-on?</a>
          </div>
          <div class="landing_suggestions_column_links mobile_hulu_link">
            <a href="/help/articles/20116158" class="pageload_beacon t3_mobile" pageType="Support">Why can&#x27;t I view certain shows on my device?</a>
          </div>
          <div class="landing_suggestions_column_links mobile_hulu_link">
            <a href="/help/articles/55057284" class="pageload_beacon t3_mobile" pageType="Support">How do I remove videos from my History? </a>
          </div>
    </div>
    <div class="landing_popular_actions article_list_header">
      <h3 class="web_only"> I&#x27;d like to... </h3>
      <div class="mobile_hulu_header mobile_only t4_mobile">Quick Links</div>
      <div class="web_only" style="height: 10px;"></div>
      <div class="landing_suggestions_column_links mobile_hulu_link">
        <a href="http://www.hulu.com/account" class="thumbnail_click_beacon t3_mobile" clickid="manage_account" clicksubarea="SupportPageTop">Manage my payment or personal information</a>
      </div>
      <div class="landing_suggestions_column_links mobile_hulu_link">
        <a href="http://www.hulu.com/plus/pre_cancel" class="thumbnail_click_beacon t3_mobile" clickid="cancel_sub" clicksubarea="SupportPageTop">Cancel my subscription</a>
      </div>
      <div class="landing_suggestions_column_links mobile_hulu_link">
        <a href="http://www.hulu.com/activate" class="thumbnail_click_beacon t3_mobile" clickid="activate_device" clicksubarea="SupportPageTop">Activate a new device</a>
      </div>
      <div class="landing_suggestions_column_links mobile_hulu_link">
        <a href="http://www.hulu.com/forgot" class="thumbnail_click_beacon t3_mobile" clickid="forgot_password" clicksubarea="SupportPageTop">Recover my password or email address</a>
      </div>
      <div class="landing_suggestions_column_links mobile_hulu_link">
        <a href="http://www.hulu.com/account/history" class="thumbnail_click_beacon t3_mobile" clickid="watch_history" clicksubarea="SupportPageTop">View my watch history</a>
      </div>
    </div>
    <div class="landing_suggested_devices article_list_header">
        <h3 class="web_only">Popular Devices: </h3>
        <div class="mobile_hulu_header mobile_only t4_mobile">Popular Devices</div>
        <div class="web_only" style="height: 10px;"></div>
        <div class="landing_suggestions_column_links mobile_hulu_link">
          <a href="/help/devices/roku" class="pageload_beacon t3_mobile" pageType="Support">Roku Streaming Player</a>
        </div>
        <div class="landing_suggestions_column_links mobile_hulu_link">
          <a href="/help/devices/android" class="pageload_beacon t3_mobile" pageType="Support">Android Phone & Tablet</a>
        </div>
        <div class="landing_suggestions_column_links mobile_hulu_link">
          <a href="/help/devices/wii" class="pageload_beacon t3_mobile" pageType="Support">Nintendo Wii</a>
        </div>
        <div class="landing_suggestions_column_links web_only mobile_hulu_link">
          <a href="/help/devices/playstation3" class="pageload_beacon" pageType="Support">Playstation 3</a>
        </div>
        <div class="landing_suggestions_column_links web_only mobile_hulu_link">
          <a href="/help/devices/ipad" class="pageload_beacon" pageType="Support">Apple iPad</a>
        </div>
    </div>
    <div style="clear:both;"></div>
  </div>
  <div style="height: 19px;"></div>

</div>

<div class="web_only" style="height:100px;"></div>

<div class="container contact_link_container">

  <div class="contact_link_title web_only">
    Need More Help?
  </div>

  <div id="tabs-feedback" class="contact_link_tab">
    <div class="contact_link_icon"></div><div class="contact_link_text t2_mobile">CONTACT US</div>
  </div>
</div>
</body>
    
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
	<script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/application.js"></script>
	<script src="js/over.js"></script>

  </body>
</html>