<html><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--pageMeta-->

    <!-- Loading Bootstrap 
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI 
    <link href="css/flat-ui.css" rel="stylesheet">
    
    <link href="css/style.css" rel="stylesheet">

    <link href="css/style.complete.css" rel="stylesheet">-->
    

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
    
    <!--headerIncludes-->
     
    
</head>
<body>
    
    <div id="page" class="page">
        
    <div class="item header margin-top-0 padding-bottom-0" id="header3">

    		<header class="wrapper image image1"> 
                  <div class="header" style="position:relative; z-index:999; text-align: center;">
                    
      <a class="img-responsive"><img alt="" src="images/brand/whitelong_logo.png" style="width: 75%; height: auto"></a>
         </div>
    			<div style="outline-offset: -3px;" class="bg bg1"></div>
    	
    			<div class="container">
    		    		
    				  
    			
    					<div class="col-md-8 col-md-offset-6">
    					<!--<a class="img-responsive"><img alt="" src="images/brand/whitelong_logo.png" style="width: 100%; height: auto"></a>
    						<h1 class="editContent">CROWDVENIENCE</h1> -->
    					
    						<h1 class="editContent pricing3" style="text-shadow: 2px 2px #000000; color:c9c0c6; text-align: left; font-weight:bold">
    							The new way to order or deliver! <br>
Flexible, safe, secure with unmatched customisation!
    						</h1>
    					<a href="#join" class="btn-default smoothScroll" style="font-size: 22px; "><span class="fa fa-sign-in"></span> Sign up</a>
                           
        
 
                            
                        
                         
                    
                        
    						<a href="#content-1-9" class="btn-default smoothScroll"><span class="fa fa-info"></span> Learn more</a>
    						<br>
    		
    				
    				</div>
    			
    			
    		
    			</div><!-- /.container -->
    	
    		</header></div><!-- /.wrapper -->
    
    	<!-- /.item --><!-- Start Content Block 1-9 -->
    <section id="content-1-9" class="content-1-9 content-block">
			
		<div class="container">
		
            <div class="underlined-title">
				<div class="editContent">
	        		<h1>What we do!</h1>
				</div>
				<hr>
				<div class="editContent">
	        		<h2>We give you the ability to make some money on your way home or have have that 'one' thing you've been needing for the past few weeks delivered to your hands, when you want, at YOUR price</h2>
				</div>
        	</div>

            <div class="row">
                
                <div class="col-md-4 col-sm-12 col-xs-12 pad25">
					<div class="col-xs-2">
						<span class="fa fa-pencil"></span>
					</div>
					<div class="col-xs-10">
						<div class="editContent">
							<h4>Customise your job</h4>
						</div>
						<div class="editContent">
							<p>We let you choose everything. Including; the shop location or suburb, price range, delivery time frame and reward.</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-12 col-xs-12 pad25">
					<div class="col-xs-2">
						<span class="fa fa-code"></span>
					</div>
					<div class="col-xs-10">
						<div class="editContent">
							<h4>Web Design</h4>
						</div>
						<div class="editContent">
							<p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-12 col-xs-12 pad25">
					<div class="col-xs-2">
						<span class="fa fa-comments-o"></span>
					</div>
					<div class="col-xs-10">
						<div class="editContent">
							<h4>Keep in contact</h4>
						</div>
						<div class="editContent">
							<p>Crowdvenience allows you to keep in contact with your driver or customer while on the job.</p>
						</div>
					</div>
				</div>
				
				
            </div>
             <div class="row">
                 
                 <div class="col-md-4 col-sm-12 col-xs-12 pad25">
					<div class="col-xs-2">
						<span class="fa fa-search"></span>
					</div>
					<div class="col-xs-10">
						<div class="editContent">
							<h4>Custom Search</h4>
						</div>
						<div class="editContent">
							<p>Choose your options to allow you to be as flexible or as efficient as you want.</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-12 col-xs-12 pad25">
					<div class="col-xs-2">
						<span class="fa fa-mobile"></span>
					</div>
					<div class="col-xs-10">
						<div class="editContent">
							<h4>Updates</h4>
						</div>
						<div class="editContent">
							<p>Total job awareness. From acceptance, item pickup, on the move, or a 5 minute delivery warning, you will always know the latest updates to your job.</p>
						</div>
					</div>
				</div>
				
				<div class="col-md-4 col-sm-12 col-xs-12 pad25">
					<div class="col-xs-2">
						<span class="fa fa-bookmark"></span>
					</div>
					<div class="col-xs-10">
						<div class="editContent">
							<h4>Corporate Literture</h4>
						</div>
						<div class="editContent">
							<p>Retro chillwavn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
						</div>
					</div>
				</div>
                
            </div><!-- /.row -->
        </div><!-- /.container -->
    
    </section>
    <!-- // End Content Block 1-9 --><!-- Start Content Block 2-7 -->
	<section id="content-2-7" class="content-block content-2-7">
		<div class="container">

			<div class="row">
				
				<div class="col-sm-12">
					<div class="underlined-title">
						<div class="editContent">
				  			<h1>Some fun facts &amp; figures</h1>
						</div>
						<hr>
						<div class="editContent">
							<h2>You'll <span class="fa fa-heart pomegranate"></span> Bootstrap Starter Kit</h2>
						</div>
				  	</div>
				</div>

				<div class="col-sm-3 text-center">
					<div class="counter-icon">
						<span class="fa fa-magic"></span>
					</div>
					<div class="counter-text">
						<div class="editContent">
							<h3 class="counter">636</h3>
						</div>
						<div class="editContent">
							<p>Monsters created</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3 text-center">
					<div class="counter-icon">
						<span class="fa fa-coffee"></span>
					</div>
					<div class="counter-text">
						<div class="editContent">
							<h3 class="counter">1349</h3>
						</div>
						<div class="editContent">
							<p>Cups of English Tea</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3 text-center">
					<div class="counter-icon">
						<span class="fa fa-lightbulb-o"></span>
					</div>
					<div class="counter-text">
						<div class="editContent">
							<h3 class="counter">2496</h3>
						</div>
						<div class="editContent">
							<p>Ideas generated</p>
						</div>
					</div>
				</div>

				<div class="col-sm-3 text-center">
					<div class="counter-icon">
						<span class="fa fa-clock-o"></span>
					</div>
					<div class="counter-text">
						<div class="editContent">
							<h3 class="counter">4694</h3>
						</div>
						<div class="editContent">
							<p>Hours spent working</p>
						</div>
					</div>
				</div>
				
				<div class="col-sm-12 text-center pad45">
					<div class="editContent">
						<strong class="white">No dancing kittens were harmed in the process of making <a href="http://bootstrapstarterkit.com">Bootstrap Starter Kit.</a></strong>
					</div>
				</div>
				
			</div><!-- /.row -->

		</div><!-- /.container -->
	</section>
		
	
	<!--// END Content Block 2-7 -->
        <div class="item content padding-top-0 padding-bottom-0" id="content_section1">
    	
    		<div class="wrapper grey">
    		
    		<div class="container">
    		
    			<div class="row margin-bottom-60">
    			
    				<div class="col-md-12">
    					
    					<div class="editContent">
    					<h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
    					
    					<p class="lead">
    						Suspendisse potenti. Proin hendrerit ornare dictum. Quisque nunc arcu, lacinia et elit et, adipiscing malesuada felis. Nullam quam augue, euismod vitae turpis sed.
    					</p>
    					</div><!-- /.editContent -->
    				
    				</div>
    			
    			</div><!-- /.row -->
    		
    			<div class="row">
    			
    				<div class="col-md-4 text-center">
    				   
    				   	<div class="col">
    				   	
    						<img alt="" src="images/icons/brush.svg" style="width: 30%;">
    					
    						<div class="editContent">
    						<h3>Column One</h3>
    						
    						<p>
    							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in. Praesent pellentesque neque nec eros tempus, ac venenatis ante interdum.
    						</p>
    						</div><!-- /.editContent -->
    					
    					</div><!-- /.col -->
    						    					    				
    				</div><!-- /.col-md-4 col -->
    				
    				<div class="col-md-4 text-center">
    				    
    				    <div class="col">
    				    			
    						<img alt="" src="images/icons/dynamite.svg" style="width: 30%;">
    					
    						<div class="editContent">
    						<h3>Column Two</h3>
    						
    						<p>
    							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in. Praesent pellentesque neque nec eros tempus, ac venenatis ante interdum.
    						</p>
    						</div><!-- /.editContent -->
    						
    					</div><!-- /.col -->
    						    					    				
    				</div><!-- /.col-md-4 col -->
    				
    				<div class="col-md-4 text-center">
    				   	
    				   	<div class="col">
    				   				
    						<img alt="" src="images/icons/loop.svg" style="width: 30%;">
    					
    						<div class="editContent">
    						<h3>Column Three</h3>
    						
    						<p>
    							Ut non lobortis est. Ut dictum scelerisque luctus. Aliquam condimentum interdum odio, et fermentum nulla pharetra in. Praesent pellentesque neque nec eros tempus, ac venenatis ante interdum.
    						</p>
    						</div><!-- /.editContent -->
    						
    					</div><!-- /.col -->	
    					    					    				
    				</div><!-- /.col-md-4 col -->
    			
    			</div><!-- /.row -->
    		
    		</div><!-- /.container -->
    		
    		</div><!-- /.wrapper -->
    	
    	</div><!-- /.item --><!-- Start Team 2-1 -->
    <section class="content-block team-1">
        <div class="container">
            
			<div class="underlined-title">
				<div class="editContent">
	        		<h1>Say hello to the team</h1>
				</div>
	    		<hr>
	    	</div>
			
            <div class="row">
            
                <div class="col-md-3 col-sm-6 team-member-wrap">
					<div class="team-member">
						<img src="images/profiles/dave1.jpg" class="img-responsive" alt="Member Image">
						<div class="team-details">
							<div class="editContent">
								<h4 class="member-name">David</h4>
							</div>
							<div class="editContent">
								<p class="position">Co-Founder</p>
							</div>
							<div class="editContent">
								<p>Crowdvenience is David's brain child! From inception to download, David has had an input into every single detail of crowdvenience, it's mind boggling.</p>
							</div>
                           
							<ul class="social social-dark">
								<li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a></li>
							</ul><!-- /.social -->
						</div>
					</div>
				</div>
				<!-- /.team-member-wrap -->
				
				<div class="col-md-3 col-sm-6 team-member-wrap">
					<div class="team-member">
						<img src="images/profiles/doc1.jpg" class="img-responsive" alt="Member Image">
						<div class="team-details">
							<div class="editContent">
								<h4 class="member-name">Doc</h4>
							</div>
							<div class="editContent">
								<p class="position">Co-Founder</p>
							</div>
							<div class="editContent">
								<p>Doc is the brains of the organisation. From accounting to legal to team building, Doc has done it all.</p>
							</div>       <h6> <br><br></h6>
							<ul class="social social-dark">
								<li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a></li>
							</ul><!-- /.social -->
						</div>
					</div>
				</div>
				<!-- /.team-member-wrap -->
				
				<div class="col-md-3 col-sm-6 team-member-wrap">
					<div class="team-member">
						<img src="images/profiles/steve1.jpg" class="img-responsive" alt="Member Image">
						<div class="team-details">
							<div class="editContent">
								<h4 class="member-name">Steve</h4>
							</div>
							<div class="editContent">
								<p class="position">Biz Dev</p>
							</div>
							<div class="editContent">
								<p>Steve is the ultimate in plans and positioning. He brings ideas into fruition and opens new doors to all those around him.</p>
							</div>       <h6> <br><br></h6>
							<ul class="social social-dark">
								<li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a></li>
							</ul><!-- /.social -->
						</div>
					</div>
				</div>
				<!-- /.team-member-wrap -->
				
				<div class="col-md-3 col-sm-6 team-member-wrap">
					<div class="team-member">
						<img src="images/profiles/andrew1.jpg" class="img-responsive" alt="Member Image">
						<div class="team-details">
							<div class="editContent">
								<h4 class="member-name">Andrew</h4>
							</div>
							<div class="editContent">
								<p class="position">CTO</p>
							</div>
							<div class="editContent">
								<p>The ultimate tech and code guru, Andrew is responsible for all the 1's and 0's running in the background to make crowdvenience work.</p>
							</div> <h6><br></h6>
							<ul class="social social-dark">
								<li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-2x fa-linkedin"></i></a></li>
							</ul><!-- /.social -->
						</div>
					</div>
				</div>
				<!-- /.team-member-wrap -->
                
            </div>
            <!-- /.row -->
			
		</div><!-- /.container -->
	</section>
    <!--// End Team 2-1 --><!-- Start Content Block 2-8 -->
	<section id="content-2-8" class="content-2-8 content-block-nopad bg-black">
			
		<div class="image-container col-sm-6 pull-left">
			<div class="background-image-holder">
				
			</div>
		</div>
		
		<div class="container">
		
			<div class="row">
		
				<div class="col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5 col-xs-12 content clearfix">
					<div class="editContent">
						<h1>Our customer support is the very best!</h1>
					</div>
					<div class="editContent">
						<p class="lead">The ultimate app for making money on your drive home or finally getting that one thing you've been waiting for now that you don't have to worry about missing opening hours.</p>
					</div>
					<div class="row pad15">
						<div class="col-xs-2">
							<span class="fa fa-rocket fa-4x"></span>
						</div>
						<div class="col-xs-10">
							<div class="editContent">
								<h3>Great for extra cash.</h3>
							</div>
							<div class="editContent">
								<p>Get notifications of.</p>
							</div>
						</div>
					</div><!-- /.row -->
					<div class="row pad15">
						<div class="col-xs-2">
							<span class="fa fa-tags fa-4x"></span>
						</div>
						<div class="col-xs-10">
							<div class="editContent">
								<h3>Superb for getting what you want at your price!</h3>
							</div>
							<div class="editContent">
								<p>Retro chillwave YOLO four loko photo booth. Brooklyn kale chips, seitan hella 3 wolf moon slow-carb paleo.</p>
							</div>
						</div>
					</div><!-- /.row -->
				</div>
		
			</div><!-- /.row-->
		
		</div><!-- /.container -->
	
	</section>
	<!-- // End Content Block 2-8 --><div class="item portfolio" id="portfolio3">
    		
    		<div class="container">
    		
    			<div class="row margin-bottom-40">
    			
    				<div class="col-md-12">
    				
    					<p class="lead text-center editContent">
    						We're awesome - see some of our work below
    					</p>
    				
    				</div><!-- /.col-md-12 -->
    			
    			</div><!-- /.row -->
    		    		
    			<div class="row margin-bottom-20">
    			
    				<div class="col-md-3">
    				   
    				   	<a href="" class="over round">
    				   		<img src="images/portfolio1.jpg" class="img-circle width-100" alt="">
    				   	</a>
    						    					    				
    				</div><!-- /.col-md-3 col -->
    				
    				<div class="col-md-3">
    				   
    				   	<a href="" class="over round">
    				   		<img src="images/portfolio2.jpg" class="img-circle width-100" alt="">
    				   	</a>
    						    					    				
    				</div><!-- /.col-md-3 col -->
    				
    				<div class="col-md-3">
    				   
    				   	<a href="" class="over round">
    				   		<img src="images/portfolio3.jpg" class="img-circle width-100" alt="">
    				   	</a>
    						    					    				
    				</div><!-- /.col-md-3 col -->
    				
    				<div class="col-md-3">
    				   
    				   	<a href="" class="over round">
    				   		<img src="images/portfolio4.jpg" class="img-circle width-100" alt="">
    				   	</a>
    						    					    				
    				</div><!-- /.col-md-3 col -->
    			
    			</div><!-- /.row -->
    			
    		</div><!-- /.container -->
    	
    	</div><!-- /.item --><!-- Start Contact 1 -->
    <section class="content-block contact-1">
		<div class="container text-center">
			
			<div class="col-sm-10 col-sm-offset-1">
				
				<div class="underlined-title">
					<div class="editContent">
		        		<h1>Get in Touch</h1>
					</div>
		        	<hr>
		        	<div class="editContent">
		        		<h2>Feel free to drop us a line to contact us</h2>
					</div>
	        	</div>
				
				<div class="editContent">
					Contact us using the form below or with the details provided. 
				</div>
				<div class="editContent">
					<ul class="contact-info">
						<li><span class="fa fa-map-marker"></span>Newcastle, NSW, Australia</li>
						<li><span class="fa fa-phone"></span>(+61) 448 224 311</li>
						<li><span class="fa fa-envelope"></span><a href="mailto:signup@crowdvenience.co<">signup@crowdvenience.co</a> </li>
					</ul>
				</div>
				
				<div class="form-container">
					<form class="forms" action="contact/form-handler.php" method="post">
						<div class="row">
							<div class="col-sm-4">
								<div class="form-group">
									<input style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==&quot;); background-repeat: no-repeat; background-attachment: scroll; background-position: right center;" value="" placeholder="Name" class="form-control" type="text">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input value="" placeholder="Email" class="form-control" type="text">
								</div>
							</div>
							<div class="col-sm-4">
								<div class="form-group">
									<input value="" placeholder="Phone" class="form-control" type="text">
								</div>
							</div>
						</div><!-- /.row -->
						<div class="form-group">
							<textarea class="form-control" rows="3" placeholder="Message" id="textArea"></textarea>
							<div class="editContent">
								<p class="small muted">Once we receive your message we will respond as soon as possible.</p>
							</div>
						</div>
						<div class="form-group">
							<a href="#" class="btn btn-primary">Send</a>
						</div>
					</form>
				</div><!-- /.form-container -->
			
			</div><!-- /.col-sm-10 -->
				
		</div><!-- /.container -->
	</section><!-- /.content-block -->
	<!--// END Contact 1 --><!-- Start Footer 1-3 -->
	<section class="content-block-nopad bg-deepocean">
		<div class="container footer-1-3">
			<div class="col-md-4 pull-left">
				    <a href="surveys.html" class="btn-default"><span class="fa fa-question-circle"></span> Beta surveys</a> 
				<ul class="social social-light">
					<li><a href="#"><i class="fa fa-2x fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-2x fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-2x fa-google-plus"></i></a></li>
					<li><a href="#"><i class="fa fa-2x fa-pinterest"></i></a></li>
					<li><a href="#"><i class="fa fa-2x fa-behance"></i></a></li>
					<li><a href="#"><i class="fa fa-2x fa-dribbble"></i></a></li>
				</ul><!-- /.social -->
			</div>
			<div class="col-md-3 pull-right">
				<div class="editContent">
					<p class="address-bold-line">We <span class="fa fa-heart pomegranate"></span> our amazing customers</p>
				</div>
				<div class="editContent">
					<p class="address small">
						123 Anywhere Street,<br>
						London,<br>
						LO4 6ON
					</p>
				</div>
			</div>
			<div class="col-xs-12 footer-text">
				<div class="editContent">
					<p>Please take a few minutes to read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></p>
                    <h6 style="color:#ffffff; text-align: center; "><span class="fa fa-copyright"></span> Copyright 4d Dev Pty Ltd 2015</h6>
				</div>
			</div>
		</div><!-- /.container -->
	</section>
	<!--// END Footer 1-3 --></div><!-- /#page -->


    <!-- Load JS here for greater good =============================-->
    <script src="js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="js/smoothscroll.js"></script>
    <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/jquery.ui.touch-punch.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-select.js"></script>
    <script src="js/bootstrap-switch.js"></script>
    <script src="js/flatui-checkbox.js"></script>
    <script src="js/flatui-radio.js"></script>
    <script src="js/jquery.tagsinput.js"></script>
    <script src="js/jquery.placeholder.js"></script>
	<script src="js/jquery.nivo.slider.pack.js"></script>
    <script src="js/application.js"></script>
	<script src="js/over.js"></script>
	<script>
	$(function(){
		
		if( $('#nivoSlider').size() > 0 ) {
		
	    	$('#nivoSlider').nivoSlider({
	    		effect: 'random',
				pauseTime: 5000
	    	});
		
		}
		
	})
	</script>


</body></html>